.books-section {
    flex: 1;

    width: 80%;


    margin: 4em auto 0em auto;

}

.books-container header {
    display: flex;
    justify-content: space-between;

    height: 3rem;
}

.books-container header input {
    width: 15rem;
    padding: 0em 0em 0em 1em;
}

.books-container .add-new-btn {
    position: absolute;
    top:0px;
    left:0px;
    transform: translateY(-100%);

    width: 100%;

    height: 3rem;
    padding: .5 .5em;

    border: none;

    background-color: gray;
    color: white;

    cursor: pointer;
}

.books-container header .btn-wrapper button {
    border: none;
    height: 100%;    

    padding: 0em 3em;

    cursor: pointer;

}



.books-container main table {
    width: 100%;
    border-collapse: collapse;
    
}

.books-container main table tr {
    
}

.books-container main table td, .books-container main table th {
    padding: .5rem;
    border: 2px solid black;
    
    
}


.books-container main table th {
    position: relative;
    
    text-align: center;
    font-size: 1.4rem;
    
    font-weight: 400;
}

.books-container main table td {
    
}



.active {
    background-color: gray;
    color: white;
}


