.books-section {
    flex: 1;

    min-width: 60%;


    margin: 5em auto 0em auto;
    padding: 3em 2.5rem;

    background-color: white;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.books-container header {

    
    display: flex;
    justify-content: space-between;
    
    height: 3rem;
}

.books-container header input {
    height: 100%;
    width: 15rem;
    padding: 0em 0em 0em 1em;
}

.books-container .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:.5em;

    font-weight: inherit;
}

.books-container .wrapper .add-new-btn {
    height: 100%;
    padding: .3rem;

    border: none;
    color: var(--white-text-color);
    background-color: var(--accent-color);

    cursor: pointer;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}   

.books-container header .btn-wrapper button {
    border: none;
    height: 100%;    

    padding: 0em 3em;

    cursor: pointer;
    background-color: var(--background-color);
}



.books-container main table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

.books-container main table tr:nth-child(odd) {
    background-color: var(--background-color);
}

.books-container main table td, .books-container main table th {
    padding: 1rem;
    text-align: center;
}


.books-container main table th {
    font-size: 1.4rem;
    font-weight: 400;
}

.books-container main table td {
    
}



.books-container main table input {
    width: 3em;

    padding: .5rem 0.1rem;
    text-align: center;
    border: 1px solid var(--gray-text-color)
}

.books-container main table .order-btn {
    
    margin-left: 1em;
    padding: .5rem 1rem;

    border: none;

    background-color: var(--accent-color);
    color: var(--white-text-color);

    cursor: pointer;
}

.books-container main table .action-btn {
    
    padding: .5rem 1rem;
    margin: 0em .5em;
    
    background-color: var(--accent-color);
    color: var(--white-text-color);
    
    border: none;

    font-weight: 400;

    cursor: pointer;
}










.delete {
    background-color: var(--delete-color) !important;
    color: var(--white-text-color)
}

.active {
    background-color: var(--accent-color) !important;
    color: white;
    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.212);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.212);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.212);
}

.hide {
    visibility: hidden;
    pointer-events: none;
}