.login-section {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
    padding: 2.5em 2.5em;

    background-color: var(--white-text-color);
    color: var(--black-text-color);


    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
}


.login-form input {
    width: 15rem;
    
    padding: .4em .4em .4em .2em;
    
    background: none;
    border: none;
    border-bottom: 1px solid var(--black-text-color);
}

.login-form .login-btn {

    padding: 1em;
    border: none;
    color: var(--white-text-color);
    background-color: var(--accent-color);

    font-weight: 400;

    cursor: pointer;
}

.login-form .register-btn {
    /* color: var(--black-text-color); */
    font-size: .8rem;
}