.page-header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2em;

    background-color: lightgray;
}

.page-header h1 {
    font-weight: 400;
}

.user-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    position: absolute;
    right: 1em;

    height: 100%;

}

.user-status-container .sign-btn {
    padding: .5rem 1rem;

    border: none;

    color: white;
    background-color: gray;

    text-decoration: none;
    cursor: pointer;
}